<ion-header>

  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Tax app</ion-title>
  </ion-toolbar>

</ion-header>
<div style="height: 24vh; background-color: #5260ff; text-align: center; color: white;">
  <h6 style="padding-top: 26px;">Total current year</h6>
  <h1>$ 1,310,660.00</h1>
</div>
<ion-content color="light">

  <ion-list [inset]="true">
    <ion-item>

      <ion-grid>
        <ion-row>
          <ion-col size="9">Supplier1</ion-col>
          <ion-col size="3">
            <div>
              <p
                style="padding: 0; margin: 0; white-space: nowrap;overflow: hidden; text-overflow: ellipsis; font-size: small;text-align: end;">
                $ 171,460</p>
              <p style="padding: 0; margin: 0; font-size: small; text-align: end;">11 Nov</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>

    <ion-item>

      <ion-grid>
        <ion-row>
          <ion-col size="9">Supplier2</ion-col>
          <ion-col size="3">
            <div>
              <p
                style="padding: 0; margin: 0; white-space: nowrap;overflow: hidden; text-overflow: ellipsis; font-size: small;text-align: end;">
                $ 56,700</p>
              <p style="padding: 0; margin: 0; font-size: small; text-align: end;">11 Nov</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="9">Supplier3</ion-col>
          <ion-col size="3">
            <div>
              <p
                style="padding: 0; margin: 0; white-space: nowrap;overflow: hidden; text-overflow: ellipsis; font-size: small;text-align: end;">
                $ 6,935</p>
              <p style="padding: 0; margin: 0; font-size: small; text-align: end;">11 Nov</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="9">Supplier4</ion-col>
          <ion-col size="3">
            <div>
              <p
                style="padding: 0; margin: 0; white-space: nowrap;overflow: hidden; text-overflow: ellipsis; font-size: small;text-align: end;">
                $ 1,025,700</p>
              <p style="padding: 0; margin: 0; font-size: small; text-align: end;">10 Nov</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>

</ion-content>